<div class="center jumbotron">

<h1>Éditions Uruk</h1>
<h2>
 ditions : 
<a href="https://www.facebook.com/leseditionsuruk"> Facebook</a>
</h2>

<%= link_to "Vous enregistrez", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "rails logo"), 'http://rubyonrails.org/'%>

