<%provide(:title, "Home")%>



<h1>Éditions Uruk</h1>
<p>
This is the home page for the
<a href="https://www.facebook.com/leseditionsuruk"> Éditions uruk test </a>
page

</p>
<a href="static_pages/help">help</a>